---
const { text, id: propId } = Astro.props;
const id = propId || (text ? text.replace(/ /g, '-').toLowerCase() : '');
---

<div class="mt-16 mb-6">
  <a
    class="-ml-6 pl-6 block group relative"
    href={`#${id}`}
  >
    <div class="absolute -left-0 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity">
        <span class="text-2xl text-slate-400 font-mono">#</span>
    </div>
    <h2
      id={id}
      class="font-yrsa font-semibold text-3xl md:text-4xl text-slate-900 group-hover:text-slate-700 transition-colors"
    >
      {text ? text : <slot />}
    </h2>
  </a>
</div>
