---
import Layout from '../layouts/Layout.astro';
import Header1 from '../components/headers/Header1.astro';
---

<Layout title="404: Not found" noIndex>
  <div class="prose md:prose-lg">
    <Header1>NOT FOUND</Header1>
    <p>You just hit a route that doesn&#39;t exist... the sadness.</p>
  </div>
</Layout>
