---
import { HiExclamation } from 'react-icons/hi';
const { text, title } = Astro.props;
---

<div class="rounded-md bg-yellow-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <HiExclamation
        className="h-5 w-5 text-yellow-400"
        aria-hidden="true"
      />
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-yellow-800">{title}</h3>
      <div class="mt-2 text-sm text-yellow-700">
        <p>{text}</p>
      </div>
    </div>
  </div>
</div>
