---
const { note } = Astro.props;
---

<div class="px-4 py-5 bg-white shadow-muted rounded-lg overflow-hidden sm:p-6 text-slate-900">
  <slot />
  {note && <div class="mt-3 text-zinc-500 font-light text-sm">* {note}</div>}
</div>
